.shopList {
    display: flex;
}

.product-list {
    flex: 1 auto 0;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.product-list__field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 200px;
    height: 440px;
    text-align: center;
    line-height: 20px;
    margin: 5px;
    border: 1px solid darkgrey;
    background: gainsboro;
}

.cart-list {
    flex: 1 auto 0;
    margin-left: 30px;
    margin-top: 235px;
    text-align: center;
}

.counter-buttons__btn {
    margin-left: 10px;
}

.cart-list__total-amount {
    font-size: 24px;
    font-weight: bold;
}


