.filter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter {
    /*text-align: center;*/
}

.filter__item {
    width: 250px;
    font-size: 16px;
}

.range {
   margin-bottom: 20px;
}

.range__item {
    display: flex;
}



