.pagination-controls {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.pagination-controls__button {
    background-color: gainsboro;
    border-radius: 0.15em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: default;
    margin: 0 0.25em;
    padding: 0.5em 0.75em;
}

.pagination-controls__button:hover:not(:active) {
         transition: transform 0.15s;
         transform: translateY(-2px);

}

.pagination-controls__button--active {
    background-color: #4D7EA8;
    color: white;
}

.pagination-controls__button--active:hover:not(:active) {
    transform: none;
}

