.slider {
    /*height: 200px;*/
}
.slider__image-box {
    margin-bottom: 0;

}

.slider__image {
    max-height: 300px;
    max-width: 200px;
}


.slider__buttons {
    display: flex;
    justify-content: space-between;

}
